<%- include('header') -%>


    <h2>This is the About Page</h2>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est veniam quia porro doloremque ut facilis, cum autem
        quisquam excepturi ipsam distinctio mollitia dolores exercitationem quo sit libero neque provident fugiat?
        Dolores blanditiis, odio cupiditate iure eveniet laboriosam nostrum. Amet aspernatur, placeat laborum quaerat,
        minus reprehenderit, voluptatem porro ipsa totam aliquam repudiandae quos temporibus voluptas labore. Facilis
        hic numquam soluta nostrum.</p>

    <%- include('footer') -%>